<div class="login-page">
    <div class="form">
        <form name="loginForm" class="login-form">
            <h3>WATG Awards</h3>
            <input type="password" ng-model="login.userPin" required placeholder="PIN" ng-click="login.invalidPINFlag = false" />
            <button ng-disabled="loginForm.$invalid" type="submit" ng-click="UserLogin()">Login</button>
            <p class="message">Forget PIN? <a ng-click="login.invalidPINFlag = true" >Click Here</a></p>
            <p ng-if="login.invalidPINFlag" class="error">{{login.invalidUserMsg}}</p>

        </form>
    </div>
</div>