<!--<h1>Project page</h1>

<ul>
    <li ng-repeat="pro in project.projectList">
        {{projectDetail.project.ProjectTitle}}
        <img ng-src="data:image/JPEG;base64,{{pro.DisplayImage}}">
    </li>
</ul>-->
<!--<div class="progressGear" ng-show="project.busyGettingData">
    <h3>
        Loading Projects
        <i class="fa fa-refresh fa-spin"></i>
    </h3>
</div>-->


<div>
    <main>
        <div class="parallax-container darken valign-wrapper" style="height: 200px">
            <div class="overlay">
                <i ng-click="project.logOut()" title="Logout" class="fa fa-sign-out fa-5x" aria-hidden="true"></i>
            </div>
            <div class="parallax"><img ng-src="data:image/JPEG;base64,{{projectDetail.project.DisplayImage}}" "></div>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h1 class="white-text" style="font-weight: 100">{{projectDetail.project.ProjectTitle}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white">
            <div class="row container flow-text grey-text text-darken-1">
                <p>{{projectDetail.project.ProjectDescription}}</p>
            </div>
            <div class="row container flow-text grey-text text-darken-1">
                <p>{{projectDetail.project.ProjectOffice}}</p>
            </div>
            <div class="row container flow-text grey-text text-darken-1">
                <a href class="watg-red-text" ng-click="projectDetail.getProject()">View PDF</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="row container center-align">
            <img class="watg-footer" src="css/images/watg-grey.svg">
        </div>
    </footer>
</div>
<script>
    $(document).ready(function () {
        $('#sidenav-overlay').hide();
        $(".button-collapse").sideNav();
        $('.parallax').parallax();

    });
</script>
