packages/
WATG-DesignAwardsPortal.Contracts/bin/
WATG-DesignAwardsPortal.Contracts/obj/
WATG-DesignAwardsPortal.Data/bin/
WATG-DesignAwardsPortal.Data/obj/
WATG-DesignAwardsPortal.Model/bin/
WATG-DesignAwardsPortal.Model/obj/
WATG-DesignAwardsPortal.Web/bin/
*/bower_components/
*/node_modules/
WATG-DesignAwardsPortal.Web/obj/
WATG-DesignAwardsPortal.Web/Attachments/
WATG-DesignAwardsPortal.Web/Server/Content/compiled/app.less
*.md
WATG-DesignAwardsPortal.Web/bower_components/angular-ui-select/CHANGELOG.md
WATG-DesignAwardsPortal.Web/bower_components/angular-ui-select/CHANGELOG.md
