<div id="loader-wrapper" ng-show="busyGettingData">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div id="background-result" ng-show="!busyGettingData " nv-file-drop="" uploader="uploader">
    <header>
        <nav class="top-nav">
            <a ui-sref="Category" class="left-align">

                <img class="nav-logo" src="https://watgdevops.blob.core.windows.net/watgdesignawards/logo-small.svg"/>
            </a>
            <div class="container">
                <div class="nav-wrapper">

                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <div class="hide-on-med-and-down">
                        <a id="addCategory" title="Add New Category"
                           class="btn btn-primary btn-xs" data-title="Add New Category"
                           ng-href="#/addCategory">
                            Add New Category
                        </a>


                        <a id="addProject" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="Add New Project"
                           ng-href="#/addProject">
                            Add New Project
                        </a>
                        <a id="addUser" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="Add New User"
                           ng-href="#/addUser">
                            Add New User
                        </a>
                        <a id="results" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="results"
                           ng-href="#/results">
                            Results
                        </a>
                        <a id="logout" title="Sign Out"
                           class="btn btn-primary btn-xs" data-title="Sign Out"
                           ng-click="logOut()">
                            Sign Out
                        </a>

                    </div>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <div class="userView">
                                <div class="background" style="background-color: #AF2125"></div>
                                <a ui-sref="Category">
                                    <img class="left-align" src="https://watgdevops.blob.core.windows.net/watgdesignawards/logo-landing.svg">
                                </a>
                            </div>
                        </li>

                        <a id="addCategory" title="Add New Category"
                           class="btn btn-primary btn-xs" data-title="Add New Category"
                           ng-href="#/addCategory">
                            Add New Category
                        </a>
                        <a id="addProject" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="Add New Project"
                           ng-href="#/addProject">
                            Add New Project
                        </a>
                        <a id="addUser" title="Add New Project"
                           class="btn btn-xs" data-title="Add New User"
                           ng-href="#/addUser">
                            Add New User
                        </a>

                        <a id="results" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="results"
                           ng-href="#/results">
                            Results
                        </a>
                        <a id="logout" title="Sign Out"
                           class="btn btn-primary btn-xs" data-title="Sign Out"
                           ng-click="logOut()">
                            Sign Out
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="table-responsive col-md-6 col-md-offset-3">
        <table class="table  " style="color: white">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="r in records">
                <td >

                    {{r.CategoryName}}
                </td>
                <td>
                    <a data-toggle="modal"
                       data-target="#myModal" ng-click="modalClicked(r.CategoryName,r.Image)">
                        <img ng-src="data:image/JPEG;base64,{{r.Image}}" style="max-height: 50px; width: 50px;">
                    </a>
                </td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs"
                                ng-click="delete(r.Id)">
                            <i class="fa fa-remove" title="remove"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="categoryName" style="color: white"
                           name="Name" class="form-control"
                           required ng-maxlength="50"
                           ng-minlength="1"/>
                </td>
                <td>
                    <input class="form-control " type="file" ngf-select ng-model="categoryImage" name="file"
                           accept="image/*" ngf-max-size="1MB" required
                           ngf-model-invalid="errorFile">
                </td>
                <td>
                    <a class="btn btn-primary btn-xs pull-right"
                       ng-disabled="!categoryName || !categoryImage"
                       title="add"
                       ng-click="uploadPic(categoryImage)">
                        <i class="fa fa-plus"></i>&nbsp;Add
                    </a>
                </td>

            </tr>

            </tbody>

        </table>
        <div class="modal fade" id="myModal"
             role="dialog">
            <div class="modal-dialog">
                Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">{{shortCurrencyName}}</h4>
                    </div>
                    <div class="modal-body">
                        <img ng-src="data:image/JPEG;base64,{{imageBlob}}" style="max-height: 100%; width: 100%;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="height: 50%">

        <img class="watg-landing" src="https://watgdevops.blob.core.windows.net/watgdesignawards/watg-white.svg"/>
    </footer>
</div>