<div id="loader-wrapper" ng-show="busyGettingData">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div id="background-result">
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a ng-click="navigateHome()" class="left-align">
                        <img class="nav-logo" src="css/images/logo-small.svg" />
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i>menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a id="addCategory" ng-href="#/addCategory">Add New Category</a></li>
                        <li><a id="addProject" ng-href="#/addProject">Add New Project</a></li>
                        <li><a id="addUser" ng-href="#/addUser">Add New User</a></li>
                        <li><a id="results" ng-href="#/results">Results</a></li>
                        <li><a id="logout" ng-click="logOut()">Sign Out</a> </li>
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li><a id="addCategory" ng-href="#/addCategory">Add New Category</a></li>
                        <li><a id="addProject" ng-href="#/addProject">Add New Project</a></li>
                        <li><a id="addUser" ng-href="#/addUser">Add New User</a></li>
                        <li><a id="results" ng-href="#/results">Results</a></li>
                        <li><a id="logout" ng-click="logOut()">Sign Out</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="row">
        <form name="form.input" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" ng-model="User.FirstName"
                           name="FirstName" class="form-control" style="color:white"
                           required ng-maxlength="50"
                           ng-minlength="1" />
                    <label for="FirstName">First Name</label>
                </div>
                <!-- Changes-->
                <div class="input-field col s6">
                    <input type="text" ng-model="User.LastName"
                           name="LastName" class="form-control" style="color:white"
                           required ng-maxlength="50"
                           ng-minlength="1" />
                    <label for="LastName">Last Name</label>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" ng-model="User.Email" style="color:white"
                           name="Email" class="form-control"
                           required ng-maxlength="50"
                           ng-minlength="3" />
                    <label for="Email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input type="password" ng-model="User.Password" style="color:white"
                           name="password" class="form-control"
                           required ng-maxlength="50"
                           ng-minlength="3" />
                    <label for="password">Password</label>
                </div>


            </div>
            <br />
            <div class="row">
                <div class="input-field col s6">
                    <h4>Role</h4>
                    <select name="Role" ng-options="r.Id as r.Name for r in roles"
                            class="form-control input-sm"
                            ng-model="User.Role"></select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <a ng-href="#results"
                       class="btn btn-default">
                        <i class="fa fa-arrow-left"></i> Cancel
                    </a>
                </div>
                <div class="input-field col s6">
                    <button ng-click="saveUser()"
                            class="btn btn-primary pull-right"
                            ng-disabled="busySaving">
                        <i class="fa fa-save" ng-hide="busySaving"></i>
                        <i class="fa fa-refresh fa-spin"
                           ng-show="busySaving"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
<footer class="bottom-footer">
    <div class="row container center-align">
        <img src="css/images/watg-grey.svg" height="100" width="100">
    </div>
</footer>