<div id="loader-wrapper" ng-show="busyGettingData">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div ng-show="!busyGettingData">
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a ui-sref="Category">

                        <img class="nav-logo" src="https://watgdevops.blob.core.windows.net/watgdesignawards/logo-small.svg"/>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">

                        <a id="logout" title="Sign Out"
                           class="btn btn-primary btn-xs" data-title="Sign Out"
                           ng-click="logOut()">
                            Sign Out
                        </a>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <div class="userView">
                                <div class="background" style="background-color: #AF2125"></div>
                                <a ui-sref="Category">
                                    <img class="side-logo" src="https://watgdevops.blob.core.windows.net/watgdesignawards/logo-landing.svg">
                                </a>
                            </div>
                        </li>


                        <a id="logout" title="Sign Out"
                           class="btn btn-primary btn-xs" data-title="Sign Out"
                           ng-click="logOut()">
                            Sign Out
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="parallax-container darken valign-wrapper">

        <div class="parallax">
            <img src="https://watgdevops.blob.core.windows.net/watgdesignawards/parallax5.jpg" style="background-color: white; display: block !important; transform: translate3d(-50%, 609px, 0px);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s6 m3 offset-s3 offset-m1 pull-m1">
                    <img class="responsive-img" src="https://watgdevops.blob.core.windows.net/watgdesignawards/logo-landing.svg">
                </div>
                <div class="col s12 m8">
                    <span class="white-text" style="font-size: 1.2em; font-weight: 300;">
                        The Design Awards are meant to identify and recognize our very best design in several categories, as a way of sharing the best projects that have been completed (built or designed) over the last 2 years as well as "raising the bar" on our expectations for what is considered creative and innovative.
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="section white">
        <div class="row container flow-text grey-text text-darken-1">
            <h3 class="header">
                Categories
            </h3>
            <p>Click on the categories below to view the candidates. Voting will open on April ## and close on April ##. Be sure to vote for your favorite entries while voting is open.</p>
        </div>
        <div class="container">
            <div class="row">
                <!--<div class="col s6 m3 center-align">
                    <a href="cat_landscape.html">
                        <img class="service-icons" src="images/s_landscape.svg">
                    </a>
                </div>-->
                <div ng-repeat="category in records">
                    <div class="col s6 m3 center-align">
                        <i ng-click="loadProjects(category.Id)">
                            <img ng-src="data:image/JPEG;base64,{{category.Image}}" width="100" height="100">
                        </i>

                    </div>


                </div>
            </div>
        </div>
        <div class="row container">
            <p class="flow-text">Entries were received by the following Graphics or Marketing person listed below for each office:</p>
            <div class="col s12 l6 valign-wrapper">
                <i class="material-icons red-text text-darken-2" style="font-size: 2.5em">person_pin</i><span class="office">London</span><span class="grey-text text-darken-1 poc-pointer">></span><span class="poc">Bradly Hood</span>
            </div>
            <div class="col s12 l6 valign-wrapper">
                <i class="material-icons red-text text-darken-2" style="font-size: 2.5em">person_pin</i><span class="office">Irvine</span><span class="grey-text text-darken-1 poc-pointer">></span><span class="poc">Chris Hernandez</span>
            </div>
            <div class="col s12 l6 valign-wrapper">
                <i class="material-icons red-text text-darken-2" style="font-size: 2.5em">person_pin</i><span class="office">Singapore</span><span class="grey-text text-darken-1 poc-pointer">></span><span class="poc">Krystal Solorzano</span>
            </div>
            <div class="col s12 l6 valign-wrapper">
                <i class="material-icons red-text text-darken-2" style="font-size: 2.5em">person_pin</i><span class="office">Honolulu</span><span class="grey-text text-darken-1 poc-pointer">></span><span class="poc">Caryn Saito</span>
            </div>
            <div class="col s12 l6 valign-wrapper">
                <i class="material-icons red-text text-darken-2" style="font-size: 2.5em">person_pin</i><span class="office">New York</span><span class="grey-text text-darken-1 poc-pointer">></span><span class="poc">Joshua Leveque</span>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container flow-text grey-text text-darken-1 ">
            <h3 class="header">Awards Selection</h3>
            <p>A "People's Choice" award will be selected from each category based on votes cast on this site. Simultaneously, "Jury's Choice" awards will be selected by the Design Advisory Council (DAC). The DAC jury will include non-WATG judges.</p>
            <p>Awards will be announced on the following dates:</p>
        </div>
    </div>
    <footer style="height: 50%">

        <img class="watg-landing" src="https://watgdevops.blob.core.windows.net/watgdesignawards/watg-white.svg"/>
    </footer>
</div>