<div id="loader-wrapper" ng-show="busyGettingData">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div ng-show="!busyGettingData">
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a ui-sref="Category">

                        <img class="nav-logo" src="../../css/images/logo-small.svg" />
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i>menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li ng-class="pro.Id == categoryId ? 'active' : ''"
                            ng-repeat="pro in categories | limitTo:4">
                            <a href
                               ng-click="loadProjects(pro.Id)">{{pro.CategoryName}}</a>
                        </li>

                        <!--<div class="dropdown">
                            <button class="dropbtn">Other Categories</button>
                            <div class="dropdown-content">
                                <a href ng-repeat="pro in categories | limitTo:(4 - categories.length)"
                                   ng-click="loadProjects(pro.Id)">{{pro.CategoryName}}</a>
                            </div>
                        </div>-->
                        <li>
                            <a class='dropdown-button' href='#' data-activates='dropdown1'>More Categories</a>

                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <li>
                                    <a href ng-repeat="pro in categories | limitTo:(4 - categories.length)"
                                       ng-click="loadProjects(pro.Id)">{{pro.CategoryName}}</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a id="logout" title="Add New Project"
                               class="btn btn-primary btn-xs" data-title="Sign Out"
                               ng-click="logOut()">
                                Sign Out
                            </a>
                        </li>
                    </ul>  
                    
                    
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <div class="userView">
                                <div class="background" style="background-color: #AF2125"></div>
                                <a ui-sref="Category"><img class="side-logo" src="../../css/images/logo-landing.svg"></a>
                            </div>
                        </li>

                        <li ng-class="pro.Id == categoryId ? 'active' : ''"
                            ng-repeat="pro in categories">
                            <a href
                               ng-click="loadProjects(pro.Id)">{{pro.CategoryName}}</a>
                        </li>       
                        <a id="logout" title="Add New Project"
                           class="btn btn-primary btn-xs" data-title="Sign Out"
                           ng-click="logOut()">
                            Sign Out
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="parallax-container darken valign-wrapper" style="height: 200px">
          
            <div class="parallax"><img src="../../css/images/parallax1.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h1 class="white-text" style="font-weight: 100">{{projectCategory}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white">
            <div class="row container flow-text grey-text text-darken-1">
                <p>The following projects were submitted in the <span class="lowercase">{{projectCategory}} </span>category. Please take time to review and vote for your favorite entry.</p>
            </div>
        </div>
        <div class="container">
            <div class="row grey-text text-darken-1">
                <div class="row">
                    <div class="col s12 m6" ng-repeat="pro in projectList">
                        <div class="card" ng-click="selectedProject(pro.Id)">
                            <div class="card-image">
                                <img ng-src="data:image/JPEG;base64,{{pro.DisplayImage}}"
                                     height="300"
                                     width="300">
                            </div>
                            <div class="card-content">
                                <span class="card-title"></span>
                                {{pro.Title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section offwhite">
            <div class="row container grey-text text-darken-1">
                <h3 class="header">
                    Pick your favorite
                </h3>
                <p ng-if="!voteResponse && !hasAlreadyVoted" class="flow-text">Please vote for your favorite entry. We only ask that you judge based on substance and not just pretty pictures. Thank you.</p>
                <p ng-if="voteResponse" class="flow-text">Thank you. We have received your vote. Please click <a ng-href="#/category">here</a> to go back to the main page.</p>
                <p ng-if="hasAlreadyVoted" class="flow-text">You have already voted for this category. Please click <a ng-href="#/category">here</a> to go back to the main page.</p>
                <div ng-if="!voteResponse && !hasAlreadyVoted">  
                    <!--<div>
                        <select ng-options="r.Id as r.Title  for r in projectList"
                                class="form-control input-sm"
                                ng-model="voted"></select>
                    </div>-->
                    <div ng-repeat="pro in projectList">
                        <p>
                            <input name="vote" type="radio"
                                   value="{{pro.Id}}" id={{pro.Id}}
                                   ng-model="$parent.voted" />
                            <label for={{pro.Id}}>{{pro.Title}}</label>
                        </p>
                    </div>
                    <button ng-disabled="disbleVotBtn" class="waves-effect waves-light btn-large watg-blue"
                            style="margin: 20px 0;"
                            ng-click="saveVote(voted, categoryId)">Vote</button>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="row container center-align">
            <img class="watg-footer" src="../../css/images/watg-grey.svg">
        </div>
    </footer>
</div>
<script>
    $(document).ready(function () {
        $('#sidenav-overlay').hide();
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
    });
</script>
